registry=https://usw1.packages.broadcom.net/artifactory/api/npm/esd-mineral-npm-virtual/
_auth=bW9iaWxpdHlkZXY6QUtDcDVmVTRTNkdpNHE1YmtFZzl2TlJGdzR1eEJqSGRDWWdvUHBYQWR4bXV1bXprU2JyQUQ2dXpuM2g1Q3lhcFFxcVhqbm56Mg==
always-auth=true
